.responsive-menu-otherpages {
    display: none;
}

.navigationbar-container-data {
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 104px;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    border-bottom: 1px solid black;
    z-index: 1;
    transition: all 225ms ease-in-out;
}

.navigationbar-links-press a {
    color: black !important;
}

.navigationbar-links-press a:hover {
    border-bottom: 1px solid black !important;
}

.page-padding-imprint {
    padding-top: 160px;
    padding-left: 160px;
    padding-right: 160px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 0;
}

.page-padding-data {
    padding: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.page-padding-data h1 {
    font-size: 32px;
}

@media (max-width: 1000px) {
    .navigationbar-container-data {
        position: fixed;
        display: flex;
        justify-content: space-between;
        height: 132px;
        left: 0;
        right: 0;
        top: 0;
        background-color: white;
        border-bottom: 1px solid black;
        z-index: 0;
        transition: all 225ms ease-in-out;
    }

    .header-logo-responsive {
        left: 10px;
        height: 144px;
        width: 324px;
        object-fit: cover;
    }
    .menu-symbol-responsive {
        position: absolute;
        height: 68px;
        width: 68px;
        object-fit: cover;
        right: 36px;
        top: 46px;
    }
    .responsive-menu-otherpages {
        z-index: 4;
        position: fixed;
        width: 370px;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(45, 65, 69);
        ;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: all 225ms ease;
    }
    .menu-links-div-otherpages {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 370px;
        margin-top: 32px;
    }
    .responsive-menu-otherpages a {
        font-size: 32px;
        color: white;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        margin: 16px;
    }
    .exit-img-otherpages {
        object-fit: cover;
        height: 100px;
        width: 100px;
    }
    .exit-otherpages {
        width: 370px;
        height: 370px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-logo-div-otherpages {
        width: 240px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid white;
    }
    .menu-logo-otherpages {
        height: 250px;
        width: 250px;
        object-fit: cover;
    }
    .black-blend-otherpages {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: black;
        opacity: 0.7;
        z-index: 1;
    }

    .page-padding-data {
        padding-top: 160px;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}